<div class="background">

  <div class="container">
    
    <div class="card border-dark mb-3 styleCard"  >
      <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
      <div class="card-body">
        <h5 class="card-title" >{{offer.titleRm}}</h5>
        <div class="row" >
          <div class="col-md-6">
            <p>Room Description</p>
          </div>
          <div class="col-md-6">
            <p>{{offer.descripRm}}</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <p>Location</p>
          </div>
          <div class="col-md-6">
            <p>{{offer.addrRm}}</p>
          </div>
        </div>

        <div class="row" >
          <div class="col-md-6">
            <p>Preferred Places to swap with</p>
          </div>
          <div class="col-md-6" >
            <p>{{offer.option1}}</p>
          </div>
        </div>

        <div class="row" >
          <div class="col-md-6"></div>
          <div class="col-md-6" >
            <p>{{offer.option2}}</p>
          </div>
        </div>
        <div class="row" >
          <div class="col-md-6"></div>
          <div class="col-md-6" >
            <p>{{offer.option3}}</p>
          </div>
        </div>

        <div class="row" >
          <div class="col-md-6">
            <p>Availability</p>
          </div>
        </div>

        <div class="row" >
          <div class="col-md-6" >
            <p>Start Date</p>
          </div>
          <div class="col-md-6" >
            <p>{{offer.start}}</p>
          </div>
        </div>

        <div class="row"  >
          <div class="col-md-6">
            <p>End Date</p>
          </div>
          <div class="col-md-6" >
            <p>{{offer.end}}</p>
          </div>
        </div>


        <div class="row" >
          <div class="col-md-12" >
            <h5>Amenities</h5>
            <div class="row" >
              <div class="col-md-12" [hidden]="amenities.wifi == '0'">
                <p>Wifi</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" [hidden]="amenities.cableTv == '0'">
                <p>Cable TV</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" [hidden]="amenities.iron == '0'">
                <p>Iron</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" [hidden]="amenities.tv == '0'">
                <p>TV</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12" [hidden]="amenities.essentials == '0'">
                <p>Essentials</p>
              </div>
            </div>
  
            <button type="button" class="btn btn-info pointerCursor" (click)="isHidden = !isHidden">See all Amenities</button> 
            <div [hidden]="isHidden">
              
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.washingMachine == '0'">
                  <p>Washing Machine</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.heating == '0'">
                  <p>Heating</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.laptopWorkspace == '0'">
                  <p>Laptop Friendly Workspace</p>
                </div>
              </div>
              <div class="row">
                
                <div class="col-md-12" [hidden]="amenities.hotWater == '0'">
                  <p>Hot Water</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.freeParking == '0'">
                  <p>Free Parking</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.kitchen == '0'">
                  <p>Kitchen</p>
                </div>
              </div>
              <div class="row">
                
                <div class="col-md-12" [hidden]="amenities.stove == '0'">
                  <p>Stove</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.microwave == '0'">
                  <p>Microwave</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.cookingBasics == '0'">
                  <p>Cooking Basics</p>
                </div>
              </div>
              <div class="row">
                
                <div class="col-md-12" [hidden]="amenities.refridgerator == '0'">
                  <p>Refridgerator</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.dishesSilverware == '0'">
                  <p>Dishes & Silverware</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.smartLock == '0'">
                  <p>Smart Lock</p>
                </div>
              </div>
              <div class="row">
                
                <div class="col-md-12" [hidden]="amenities.shampoo == '0'">
                  <p>Shampoo</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.hairDryer == '0'">
                  <p>Hair Dryer</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.hangers == '0'">
                  <p>Hangers</p>
                </div>
              </div>
              <div class="row">
                
                <div class="col-md-12" [hidden]="amenities.entirePlace == '0'">
                  <p>Entire Place</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.privateRoom == '0'">
                  <p>Private Room</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.sharedRoom == '0'">
                  <p>Shared Room</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.doubleBed == '0'">
                  <p>Double Bed</p>
                </div>
              </div>
      
              <div class="row">
                <div class="col-md-12" [hidden]="amenities.singleBed == '0'">
                  <p>Single Bed</p>
                </div>
              </div>
            </div>
          </div>
        </div> 
        
        
        <a class="btn btn-primary" (click)="acceptOffer()">Accept</a>
        <h3 *ngIf="message">{{message}}</h3>
      </div>
    </div>
  </div>
</div>
