
<div class="body">
  <div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>

        <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <span id="reauth-email" class="reauth-email"></span>
            
            <div class="error" *ngIf="loginForm.controls['username'].hasError('required') &&
            loginForm.controls['username'].touched">Please enter username</div>
            <input type="email" id="inputEmail" class="form-control" formControlName="username" autocomplete="on" placeholder="Email address" required autofocus>
            
            <div class="error" *ngIf="loginForm.controls['password'].hasError('required') &&
            loginForm.controls['password'].touched">Please enter password</div>
            <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
            

            <div *ngIf="invalidLogin" class="error">
              <div class="danger">Invalid username or password. Please try again</div>
            </div>

            <div id="remember" class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" [disabled]="loginForm.invalid">Sign in</button>
        </form><!-- /form -->
        <a href="#" class="forgot-password">
            Forgot the password?
        </a>
    </div><!-- /card-container -->
  </div><!-- /container -->
</div>
