<div class="jumbotron text-center">
    <img src="https://cdn.nohat.cc/thumb/f/350/comrawpixel397462.jpg" class="rounded-circle logo" style="padding: 1%;">
    <h1>SwapRooms</h1> 
    <p>Travel the country, Do it for free. Swap Rooms</p> 
    <form class="form-inline">
      <div class="input-group" style="margin: auto; padding-top: 2%;">
        <div class="row" >
            <button type="button" class="btn-block btn btn-success btn-lg" 
                style="margin: 2%;" routerLink="/Login">Log in</button>
            <button type="button" class="btn-block btn btn-primary btn-lg" 
            style="margin: 2%;" routerLink="/Sign-Up">Sign Up</button>

        
        </div>
       
      </div>
    </form>
  </div>
  
