.jumbotron {
    background-color: #f4511e;
    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: #fff;
    padding: 100px 25px;
  }