
<!doctype html>
<html lang="en">
  <head>
    
    <title>Hello, world!</title>
  </head>
  <body>
    

   

<div class="background">
  <div class="container">
    <h1>Account</h1>

    <div class="row">
      <div class="col-sm-12">
        <div>
          <img class="profPic" src="https://i.pinimg.com/236x/d9/46/3d/d9463d6fafa219262ea5eea3bfac7c41.jpg"  class="rounded-circle">
        </div>
      </div>
    </div>



    <div class="card "  >
      <div class="card-header bg-info">Upload Profile Picture</div>
      <div class="card-body">

       <input type="file" name="images" (change)="profPicSelect($event)" >

      </div>
    </div>

    <div class="card "  >
      <div class="card-header bg-info">Upload Room Images</div>
      <div class="card-body">

       <input type="file" name="images" (change)="onFileSelect($event)" multiple>

      </div>
    </div>


  
    


    <form [formGroup]="editAcc" (ngSubmit)="onSubmit()">

      <div class="card " >
        <div class="card-header bg-info">Personal</div>
        <div class="card-body">

          <div class="row" id="text-fields">
            <div class="col-md-6" >
              <label>First Name</label>
            </div>
            <div class="col-md-6" >
              <input type="text" [(ngModel)]="user.fname" formControlName="fname" placeholder="First Name"
                name="fname" class="form-control" id="fname">
            </div>
          </div>
        

          <div class="row" id="text-fields">
            <div class="col-md-6">
              <label>Last Name</label>
            </div>
            <div class="col-md-6" >
              <input type="text" [(ngModel)]="user.lname" formControlName="lname" placeholder="Last Name"
                name="lname" class="form-control" id="lname" >
            </div>
          </div>

          <div class="row" id="text-fields">
            <div class="col-md-6">
              <label>Email</label>
            </div>
            <div class="col-md-6" >
              <input type="email" [(ngModel)]="user.email" formControlName="email" placeholder="Email"
                name="email" class="form-control" id="email">
            </div>
          </div>

          <div class="row" id="text-fields">
            <div class="col-md-6" >
              <label>Preferred Email</label>
            </div>
            <div class="col-md-6" >
              <input type="email" [(ngModel)]="user.preferEmail" formControlName="preferEmail" placeholder="Preferred Email"
                name="preferEmail" class="form-control" id="preferEmail">
            </div>
          </div>

        </div>
      </div>

      <div class="card "  >
        <div class="card-header bg-info">Room Details</div>
        <div class="card-body">

          <div class="row" id="text-fields">
            <div class="col-md-6">
              <label>Room Title</label>
            </div>
            <div class="col-md-6" >
              <input type="text" [(ngModel)]="room.titleRm" formControlName="titleRm" placeholder="Room Title"
                name="titleRm" class="form-control" id="titleRm">
            </div>
          </div>

          <div class="row" id="text-fields">
            <div class="col-md-6" >
              <label>Description</label>
            </div>
            <div class="col-md-6" >
              <input type="text" [(ngModel)]="room.descripRm" formControlName="descripRm" placeholder="Description"
                name="descripRm" class="form-control" id="descripRm">
            </div>
          </div>

          <div class="row" id="text-fields">
            <div class="col-md-6" >
              <label>Address</label>
            </div>
            <div class="col-md-6" >
              <input type="text" [(ngModel)]="room.addrRm" formControlName="addrRm" placeholder="Address"
                name="addrRm" class="form-control" id="addrRm">
            </div>
          </div>

          <div class="row" id="text-fields">
            <div class="col-md-6">
              <label>County</label>
            </div>
            <div class="col-md-6" >
              <input type="text" [(ngModel)]="room.county" formControlName="county" placeholder="County"
                name="county" class="form-control" id="county">
            </div>

            
          </div>
        </div>
      </div>


      <div class="card " >
        <div class="card-header bg-info">Amenities</div>
        <div class="card-body">
          <div class="col-md-12">
      
            <div class="funkyradio" >
              <div class="funkyradio-success"  >
                  <input type="checkbox"  [(ngModel)]="amenities.wifi" formControlName="wifiCheck" id="wifiCheck" class="form-control" [checked]="amenities.wifi == '1'"/>
                  <label for="wifiCheck">Wifi</label>
              </div>
              <div class="funkyradio-success">
                  <input type="checkbox" [(ngModel)]="amenities.cableTV" formControlName="cabletvCheck" id="cabletvCheck" class="form-control" [checked]="amenities.cableTV == '1'"/>
                  <label for="cabletvCheck">Cable TV</label>
              </div>
              <div class="funkyradio-success">
                  <input type="checkbox" [(ngModel)]="amenities.iron"  formControlName="ironCheck" id="ironCheck" class="form-control" [checked]="amenities.iron == '1'"/>
                  <label for="ironCheck">Iron</label>
              </div>
              <div class="funkyradio-success">
                  <input type="checkbox" [(ngModel)]="amenities.tv" formControlName="tvCheck" id="tvCheck" class="form-control" [checked]="amenities.tv == '1'"/>
                  <label for="tvCheck">TV</label>
              </div>
              <div class="funkyradio-success">
                  <input type="checkbox" [(ngModel)]="amenities.essentials" formControlName="essentialsCheck" id="essentialsCheck" class="form-control" [checked]="amenities.essentials == '1'"/>
                  <label for="essentialsCheck">Essentials</label>
              </div>
              <div class="funkyradio-success">
                  <input type="checkbox" [(ngModel)]="amenities.washingMachine" formControlName="washMachineCheck" id="washMachineCheck" class="form-control" [checked]="amenities.washingMachine == '1'"/>
                  <label for="washMachineCheck">Washing Machine</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.heating" formControlName="heatCheck" id="heatCheck" class="form-control" [checked]="amenities.heating == '1'"/>
                <label for="heatCheck">Heating</label>
              </div>
              <div class="funkyradio-success">
                  <input type="checkbox" [(ngModel)]="amenities.laptopWorkspace" formControlName="laptopCheck" id="laptopCheck" class="form-control" [checked]="amenities.laptopWorkspace == '1'"/>
                  <label for="laptopCheck">Laptop Friendly Workspace</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.hotWater" formControlName="hotwaterCheck" id="hotwaterCheck" class="form-control" [checked]="amenities.hotWater == '1'"/>
                <label for="hotwaterCheck">Hot Water</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.freeParking" formControlName="freeparkCheck" id="freeparkCheck" class="form-control" [checked]="amenities.freeParking == '1'"/>
                <label for="freeparkCheck">Free Parking</label>
              </div>
              <div class="funkyradio-success">
                  <input type="checkbox" [(ngModel)]="amenities.kitchen" formControlName="kitchenCheck" id="kitchenCheck" class="form-control" [checked]="amenities.kitchen == '1'"/>
                  <label for="kitchenCheck">Kitchen</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.stove" formControlName="stoveCheck" id="stoveCheck" class="form-control" [checked]="amenities.stove == '1'"/>
                <label for="stoveCheck">Stove</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.microwave" formControlName="microwaveCheck" id="microwaveCheck" class="form-control" [checked]="amenities.microwave == '1'"/>
                <label for="microwaveCheck">Microwave</label>
              </div>
              <div class="funkyradio-success">
                  <input type="checkbox" [(ngModel)]="amenities.cookingBasics" formControlName="cookingCheck" id="cookingCheck" class="form-control" [checked]="amenities.cookingBasics == '1'"/>
                  <label for="cookingCheck">Cooking Basics</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.refridgerator" formControlName="fridgeCheck" id="fridgeCheck" class="form-control" [checked]="amenities.refridgerator == '1'"/>
                <label for="fridgeCheck">Refridgerator</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.dishesSilverware" formControlName="dishesCheck" id="dishesCheck" class="form-control" [checked]="amenities.dishesSilverware == '1'"/>
                <label for="dishesCheck">Dishes & Silverware</label>
              </div>
              <div class="funkyradio-success">
                  <input type="checkbox" [(ngModel)]="amenities.smartLock" formControlName="lockCheck" id="lockCheck" class="form-control" [checked]="amenities.smartLock == '1'"/>
                  <label for="lockCheck">Smart Lock</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.shampoo" formControlName="shampooCheck" id="shampooCheck" class="form-control" [checked]="amenities.shampoo == '1'"/>
                <label for="shampooCheck">Shampoo</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.hairDryer" formControlName="hairdryerCheck" id="hairdryerCheck" class="form-control" [checked]="amenities.hairDryer == '1'"/>
                <label for="hairdryerCheck">Hair Dryer</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.hangers" formControlName="hangersCheck" id="hangersCheck" class="form-control" [checked]="amenities.hangers== '1'"/>
                <label for="hangersCheck">Hangers</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.entirePlace" formControlName="entireplaceCheck" id="entireplaceCheck" class="form-control" [checked]="amenities.entirePlace == '1'"/>
                <label for="entireplaceCheck">Entire Place</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.privateRoom" formControlName="privateroomCheck" id="privateroomCheck" class="form-control" [checked]="amenities.privateRoom == '1'"/>
                <label for="privateroomCheck">Private Room</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.sharedRoom" formControlName="sharedroomCheck" id="sharedroomCheck" class="form-control" [checked]="amenities.sharedRoom == '1'"/>
                <label for="sharedroomCheck">Shared Room</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.doubleBed" formControlName="doublebedCheck" id="doublebedCheck" class="form-control" [checked]="amenities.doubleBed == '1'"/>
                <label for="doublebedCheck">Double Bed</label>
              </div>
              <div class="funkyradio-success">
                <input type="checkbox" [(ngModel)]="amenities.singleBed" formControlName="singlebedCheck" id="singlebedCheck" class="form-control" [checked]="amenities.singleBed == '1'"/>
                <label for="singlebedCheck">Single Bed</label>
              </div>

            </div>
            

          </div>
          

        </div>
      </div>

     

       
      <div class="card ">
        <div class="card-header bg-warning">Submit Changes</div>
        <div class="card-body">

          <p>Thank you for keeping your account updated!</p>

          <!-- Submit form changes to account  -->
          <div class="row" style="height: 50px; ">
            <div class="col-md-12">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
          </div> 
          
        </div>
      </div>

  </form>


  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>