.rounded-circle{
    height: 60px;
    width: 60px;
}

.logo{
    height: 80px;
    width: 80px;
}

.bg{
    background-image: url('https://image.freepik.com/free-photo/living-room-interior-with-fabric-armchair-lamp-book-plants-empty-yellow-wall-background_41470-707.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.nvLink{
    color: white;
}